<div class="row container-fluid">
  <div *ngIf="!printTestimony && !printCrassier" class="col-sm-2"></div>

  <div *ngIf="printTestimony" class="col-sm-2">
    <div class="panel panel-default">
      <div class="panel-heading">{{ obj.title }}
        <div class="pull-right">
          <button type="button" class="btn btn-xs" (click)="printTestimony = false">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
      <div class="panel-body">{{ obj.description }}
        <br>
        <br>
        <div class=pull-right>{{ (obj.username ? obj.username : "Anonyme") }},
          <i>{{ obj.annee.slice(0, -9) }}</i>
        </div>
        <img src="../assets/log.png" alt="Logo">
      </div>
    </div>
  </div>

  <div *ngIf="printCrassier" class="col-sm-2">
    <div class="panel panel-default">
      <div class="panel-heading">{{ obj.nom }}
        <div class="pull-right">
          <button type="button" class="btn btn-xs" (click)="printCrassier = false">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
      <div class="panel-body">{{ obj.description }}
        <br>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div id="frugalmap">
    </div>
  </div>

  <div id="legend" class="col-sm-2">
    <button data-target="#testimony" *ngIf="testimonyOnMap" class="btn btn-org btn-block btn-lg" data-toggle="collapse">Témoignages
      <span class="caret"></span>
    </button>

    <div *ngIf="testimonyOnMap" class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              2018</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div id="testimony" *ngIf="testimonyOnMap" class="collapse in pre-scrollable panel-body">
            <ul class="list-group">
              <ng-container *ngFor="let test of testimonies">
                <li class="list-group-item" *ngIf="test.annee.substring(0,4) == '2018'" (click)="centerOnTestimony(test)">{{ test.title }}</li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="testimonyOnMap" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              2017</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div id="testimony" *ngIf="testimonyOnMap" class="collapse in pre-scrollable panel-body">
            <ul class="list-group">
              <ng-container *ngFor="let test of testimonies">
                <li class="list-group-item" *ngIf="test.annee.substring(0,4) == 2017" (click)="centerOnTestimony(test)">{{ test.title }}</li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="testimonyOnMap" class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              2016 et antérieur</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div id="testimony" *ngIf="testimonyOnMap" class="collapse in pre-scrollable panel-body">
            <ul class="list-group">
              <ng-container *ngFor="let test of testimonies">
                <li class="list-group-item" *ngIf="test.annee.substring(0,4) <= 2016" (click)="centerOnTestimony(test)">{{ test.title }}</li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <br *ngIf="testimonyOnMap">
    <br *ngIf="testimonyOnMap">

    <button data-target="#crassier" *ngIf="crassiersOnMap" class="btn btn-org btn-block btn-lg" data-toggle="collapse">Crassiers / CSDU
      <span class="caret"></span>
    </button>
    <div id="crassier" *ngIf="crassiersOnMap" class="collapse in pre-scrollable">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let crassier of crassiers" (click)="centerOnCrassiers(crassier)">{{ crassier.nom }}</li>
        <li class="list-group-item" *ngFor="let c of csdu" (click)="centerOnCsdu(c)">{{ c.nom }}</li>
      </ul>
    </div>
    <br *ngIf="crassiersOnMap">
    <br *ngIf="crassiersOnMap">

    <button data-target="#conduite" *ngIf="conduiteOnMap" class="btn btn-org btn-block btn-lg" data-toggle="collapse">Conduite
      <span class="caret"></span>
    </button>
    <div id="conduite" *ngIf="conduiteOnMap" class="collapse in">
      <ul class="list-group">
        <li class="list-group-item" (click)="debutConduite()">Début conduite Altéo</li>
        <li class="list-group-item" (click)="finConduite()">Fin conduite Altéo</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-1 "></div>
</div>