<nav class="navbar navbar-expand-sm">
  <div class=" container-fluid ">
    <div class="navbar-header ">
      <a class="navbar-left" href="./quick ">
        <img src="../assets/log.png" alt="Logo">
      </a>
      <h2 *ngIf="currentUser" class="white-text">
        Bonjour {{currentUser.username}}
      </h2>
    </div>
    <ul class="nav navbar-nav navbar-right ">
      <li>
        <a class="btn" href="./quick ">Carte
          <span class="glyphicon glyphicon-map-marker"></span>
        </a>
      </li>
      <li *ngIf="currentUser?.role == 'ADMIN'">
        <a class="btn" href="./admin ">Admin
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </li>
      <li *ngIf="!currentUser">
        <a class="btn" href="./login ">Se connecter
          <span class="glyphicon glyphicon-log-in"></span>
        </a>
      </li>
      <li *ngIf="!currentUser">
        <a class="btn" href="./signup ">S'inscrire
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </li>
      <li *ngIf="currentUser">
        <a class="btn" href="./editorial ">Témoigner
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </li>
      <li *ngIf="currentUser">
        <a class="btn" (click)="logout()">Se déconnecter
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>