<form [formGroup]="userForm" (submit)="connectUser()">
  <div class="form-group">
    <label for="username">Pseudo : </label>
    <input class="form-control" formControlName="username" id="username" />
    <app-control-message [control]="userForm.controls.username"></app-control-message>
  </div>

  <div class="form-group">
    <label for="password">Password : </label>
    <input class="form-control" type="password" formControlName="password" id="password" />
    <app-control-message [control]="userForm.controls.password">
    </app-control-message>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Submit</button>

</form>