<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ZEA</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm">
    <div class=" container-fluid ">
      <div class="navbar-header ">
        <a class="navbar-left" href="/quick ">
          <img src="../assets/log.png" alt="Logo">
        </a>
        <h2 *ngIf="currentUser">
          Bonjour {{currentUser.username}}
        </h2>
      </div>
      <ul class="nav navbar-nav navbar-right ">
        <li *ngIf="currentUser?.role == 'ADMIN'">
          <a href="/admin ">Admin
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li *ngIf="!currentUser">
          <a href="/login ">Se connecter
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li *ngIf="!currentUser">
          <a href="/signup ">S'inscrire
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </li>
        <li *ngIf="currentUser">
          <a href="/editorial ">Témoigner</a>
        </li>
        <li *ngIf="currentUser">
          <a href="/logout ">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="footer ">
  </footer>

</body>

</html>