<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ZEA</title>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ZEA</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/quick">Quick Start</a>
        </li>
        <li>
          <a href="/layer">Layer</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!currentUser">
          <a href="/login">Log In</a>
        </li>
        <li *ngIf="!currentUser">
          <a href="/signup">Sign Up</a>
        </li>
        <li *ngIf="currentUser">
          Bonjour {{currentUser.name}}
        </li>
        <li *ngIf="currentUser">
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>




</body>

</html>