<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>My OSM App</title>
</head>

<body>

  <div class="jumbotron text-center">
    <h1>Prise en Main Open Street Map</h1>
    <p>Projet Technique M1 - ZEA</p>
  </div>

  <div style="text-align:center">
    <h1>
      Bienvenue sur Open Street Map
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div id="frugalmap">

      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

</body>

</html>