<div class="container">
  <div class="well">
    <p>Administration</p>
    <div class="row">
      <div *ngIf="success != ''" class="alert alert-success alert-dismissible flex" role="alert">
        <div id="msg-success">{{ success }}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div *ngIf="error != ''" class="alert alert-danger alert-dismissible flex" role="alert">
        <div id="msg-danger">{{ error }}</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Utilisateurs à valider</div>
        <div *ngIf="users.length" class="panel-body">
          <div class="row">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>E-mail</th>
                  <th>Date</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.username }}</td>
                  <td>{{ user.firstname }}</td>
                  <td>{{ user.lastname.toUpperCase() }}</td>
                  <td>{{ (user.email.length>6)? (user.email | slice:0:6)+'..':(user.email) }}</td>
                  <td>{{ user.created|date : "dd/MM/yy" }}</td>
                  <td>
                    <button (click)="validateUser(user)" type="button" class="btn btn-default btn-success" aria-label="Ok">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                  </td>
                  <td>
                    <button (click)="deleteUser(user)" type="button" class="btn btn-default btn-danger" aria-label="Close">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!users.length">
          <ul class="list-group">
            <li class="list-group-item">Aucun utilisateur à valider</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Articles à valider</div>
        <div *ngIf="testimonies.length" class="panel-body">
          <ul class="list-group">
            <li *ngFor="let testimony of testimonies" class="list-group-item">
              <div class="list-group">
                <div class="list-group-item active">
                  <h4 class="list-group-item-heading flex">
                    <div>
                      {{ testimony.title }}
                    </div>
                    <div class="button">
                      <button (click)="validateTestimony(testimony)" type="button" class="btn btn-default btn-success" aria-label="Ok">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>
                      <button (click)="deleteTestimony(testimony)" type="button" class="btn btn-default btn-danger" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                    </div>
                  </h4>
                  <div class="list-group-item-text">
                    <p>{{ testimony.description }}</p>
                    <hr/>
                    <p><i>{{ (testimony.username != null) ? testimony.username : 'Anonyme' }} -
                    <small class="white-text">{{ testimony.annee|date : "dd/MM/yy" }}</small></i></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="!testimonies.length">
          <ul class="list-group">
            <li class="list-group-item">Aucun article à valider</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>