/* You can add global styles to this file, and also import other style files */
.white-text{
  color: white !important;
}

.flex{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}